body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #33432c;
}
img{
    height: 160px;
    width: 160px;
    border-radius: 80%;
    margin-top: 20px;
    align-self: center;
    box-shadow: chartreuse 0px 0px 10px;
}

.Titulo{
    color: white;
    flex-direction: column;
    text-align: center;
}

.redes{
    color: rgb(255, 255, 255);
    flex-direction: column;
    text-align: center;
}

.Descripcion{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-color: rgb(12, 30, 7);
    width: 470px;
    height: 650px;
    margin-top: 55px;
    border-radius: 40px;
    padding: 20px;
    box-shadow: black 8px 8px 7px 1px;
}
.card:hover{
    transform: translateY(5px);
}

.Contacto {
    display: flex;
    flex-direction :row;
    align-self: center;
    justify-self:center;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    gap: 7px
}

.Contacto:hover{
    color: chartreuse
}

.Contacto a {
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    border-radius: 6px;
    transition: transform 0.3s ease;
}
.Contacto a:hover {
    transform: translateY(-3px);
}